*{
	margin: 0px;
	padding: 0px;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.zyz{
	margin: 0 auto;
	width: 1428px;
	height: 4135px;
}
.f{	width: 1430px;
	height: 60px;
	background-color: #ffffff;}
	.f1{
		float: left;
		width: 200px;
		height: 60px;
		margin-left: 30px;
	}
	.f2{
		float: left;
		width: 670px;
		height: 60px;
		margin-left: 530px;
	}

.dropbtn {
    background-color:#ffffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}


.dropdown-content:hover {font-color:red；}


.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown button:hover>a {
            color: #e8420a;
            font-weight: bold;
        }
.dropdown li:hover>a {
            color: #e8420a;
            font-weight: bold;
            text-decoration: underline;
        }

.meizu{
	height: 400px;
	width: 1428px;
	float: left;
}
.meizu0{
	height: 80px;
	width: 40px;
	float: left;
	background-color: rgba(110,112,116,0.7);
	text-align: center;
	margin-top: 150px;
}
.meizu0 img{
	padding-top: 30px;
}
.meizu1{
	height: 110px;
	width: 490px;
	font-size: 20px;
	color: #fff;
	background-color: none;
	text-align: left;
	line-height: 50px;
	padding-left: 500px;
	padding-top: 150px;
}
.meizu2{
	font-size: 48px;
}
.meizu3{
	height: 80px;
	width: 40px;
	float: left;
	background-color: rgba(110,112,116,0.7);
	text-align: center;
	float: right;
	margin-top: -115px;
}
.meizu3 img{
	padding-top: 30px;
}
.big{
	height: 2800px;
	width: 1200px;
	float: left;
	margin-left: 125px;
}
.huawei{
	height: 2555px;
	width: 392px;
	float: left;
}
.huawei0{
	height: 565px;
	width: 392px;
	float: left;
	text-align: center;
	background-color: #f5f5f5;
	margin-top: 10px;
}
.huawei1{
	width: 350px;
	height: 330px;
	text-align: center;
	margin-left: 20px;
	margin-top: 10px;
	background-color: #fff;
}
.huawei0 p{
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
}
.huawei2{
	color: #bbbbbb;
}
.huawei3{
	color: #e8420a;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}
.huawei4{
	border-radius: 10px;
	height: 35px;
	width: 130px;
	background-color: #e8420a;
	margin-top: 15px;
	color: #fff;
	text-align: center;
}
.huawei5{
	height: 750px;
	width: 392px;
	float: left;
	background-color:#f5f5f5; 
	margin-top: 10px;
	text-align: center;
}
.huawei6{
	height: 485px;
	width: 350px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}
.huawei5 p{
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
}
.onep{
	height: 2555px;
	width: 392px;
	float: left;
	background-color: #fff;
}
.onep1{
	height: 640px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;
}
.onep2{
	height: 370px;
	width: 350px;
	text-align: center;
	margin-left: 20px;
	padding-top: 10px;
	background-color: #f5f5f5;
}
.onep1 p{
	line-height: 30px;
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}
.onep3{
	height: 600px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;
}
.onep4{
	height: 600px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;

}
.onep5{
	height: 340px;
	width: 350px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
}
.onep4 p{
	line-height: 30px;
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}
.vivo{
	height: 2555px;
	width: 392px;
	float: left;
	background-color: #fff;
}
.vivo1{
	height: 830px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;
}
.vivo2{
	height: 565px;
	width: 350px;
	text-align: center;
}
.vivo2 img{
	padding-top: 10px;
	padding-left: 20px;
}
.vivo p{
	line-height: 30px;
	margin-top: 40px;
	text-align: center;
	font-size: 16px;
}
.vivo3{
	height: 600px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;
}
.vivo4{
	height: 340px;
	width: 350px;
	text-align: center;
}
.vivo4 img{
	padding-top: 10px;
	padding-left: 20px;
}
.vivo5{
	height: 645px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;
}
.vivo7{
	height: 373px;
	width: 392px;
	text-align: center;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-top: 10px;
}
.oppo{
	height: 80px;
	width: 340px;
	text-align: center;
}
.oppo1{
	border-radius: 10px;
	height: 50px;
	width: 300px;
	background-color: #fff;
	margin-top: 100px;
	margin-left: 400px;
	text-align: center;
	font-size: 20px;
}
.bib{
	height:800px;
	width: 1428px;
	background-color:black;
	margin-top: 3200px;

}
.eight{
	width:818px;
	height:268px;
	background-color:black;
	float:left;
}
.nine{
	width:600px;
	height:268px;
	background-color:black;
	float:left;
}
.ten{
	width:686px;
	height:39px;
	background-color:black;
	margin-top:60px;
	margin-left:110px;
}
.eleven{
	width:317px;
	height:118px;
	background-color:black;
	margin-left:110px;
	float:left;
}
.twelve{
	width:211px;
	height:118px;
	background-color:black;
	float:left;
}
.thirteen{
	width:155px;
	height:124px;
	background-color:black;
	float:left;
	margin-top:20px;
}
.fourteen{
	width:67px;
	height:64px;
	background-color:black;
	margin-top:60px;
	margin-left:90px;
	float:left;
}
.fifteen{
    width:123px;
    height:62px;
    background-color:black;
    float:left;
    margin-top:60px;
}
.sixteen{
	width:230px;
	height:90px;
	background-color:black;
	margin-top:60px;
	float:left;
}
.seventeen{
	width:356px;
	height:76px;
	background-color:black;
	margin-left:157px;
	margin-top:160px;
}
.ninteen{
	color:white;
}
.li{
	margin-top:10px;
	color:white;
}
.chun{
	font-size:20px;
	color:white;
	margin-top:10px;
}
.xiao{
	color:gray;
	width:1500px;
}
.wu{
	width:565px;
	height:99px;
	background-color:black;
	margin-left:110px;
	margin-top:20px;
}
.yang{
	width:92px;
	height:48px;
	color:white;
	float:left;
}
.gao{
	width:117px;
	height:88px;
	float:left;
	margin-top:20px;
}
.yan{
	width:1185px;
	height:65px;
	background-color:black;
	margin-top:20px;
	margin-left:110px;
}
.liu{
	width:1050px;
	height:45px;
	background-color:black;
	margin-top:20px;
	float:left;
	color:white;
}
.xi{
	width:620px;
	height:35px;
	margin-top:20px;
	margin-left:450px;
	color:white;
}
.meng{
	width:230px;
	height:35px;
	margin-left:650px;
	color:white;
}
.mi{
	height: 45px;
	width: 1428px;
	text-align: center;
	background-color: #000;
}
.mi img{
	margin-left: 750px;
	margin-top:10px;
}
.mi0{
	color: #fff;
	font-size: 20px;
	margin-left: 1100px;
	margin-top: -30px;
}
.mi1{
	color: #fff;
	font-size: 14px;
}
.mi2{
	margin-left: 200px;
}